$background-primary-dark: #000000;
$background-secondary-dark: #222222;
$background-primary-light: #ececec;
$background-secondary-light: #F8F8F8;

$primary-color: #222222;
$footer-color: #818181;
$usuario-color: #D6D4D4;
$white-color: #F8F8F8;
