footer{
    background-color: $background-primary-dark;
    color: $footer-color;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed; bottom: 0;

  
}